   {% extends "base.html" %}
   {% block content %}
   <h2>About this Site</h2>
    <p>This site runs on <a href="https://developers.google.com/appengine/docs/whatisgoogleappengine">Google App Engine</a> 
    and is styled with <a href="http://getbootstrap.com/">Bootstrap</a>, It was based on the deprecated
    <a href="https://developers.google.com/chart/image/">Google Image Charts API</a> to create charts based on 
    <a href="http://www.graphviz.org/">GraphViz</a> but now use the drop-in replacement <a href="https://www.image-charts.com/">Image-Charts API</a> instead.

    <br /><br />
    The source code to this site is open and available <a href="https://github.com/grevian/GraphViz-Site">Here</a>
    </p>
   {% endblock %}

