   {% extends "base.html" %}
   {% block content %}
   <h2>About this Site</h2>
    <p>This site is mostly just static HTML, using the templates from the <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>, 
    the backend uses <a href="http://openbluedragon.org/">OpenBlueDragon</a> to interface with <a href="http://www.graphviz.org/">GraphViz</a>, 
    <br />
    The source code to this site is open and available <a href="https://github.com/grevian/GraphViz-Site">Here</a>
   {% endblock %}

