<!doctype html>  
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="An interface as well as documentation to the GraphViz program and DSL">
    <meta name="author" content="Joshua Hayes-Sheen (grevian+graphviz@gmail.com)">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GraphViz Examples and Tutorial</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

</head>

<body>

<div>
    <div class="container">
        <h1 class="display-3">GraphViz Pocket Reference</h1>
    </div>

    <nav class="navbar navbar-expand-md container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                {% for navs in main_nav %}
                    <li class="nav-item"><a class="nav-link" href="{{ navs.url }}" class="{{ navs.classes }}">{{ navs.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>

</div>

  <main role="main">
      <div id="main" class="container">
          {% block content %}{% endblock %}
      </div>
  </main>

  <!-- Javascript at the bottom for fast page loading -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- scripts concatenated and minified via ant build script-->
  <script src="/resources/static/js/plugins.js"></script>
  <script src="/resources/static/js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  {% block javascript %}{% endblock %}

  <script type="text/javascript">

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-10594743-3', 'auto');
    ga('send', 'pageview');
  </script>
  
</body>
</html>
