  {% extends "base.html" %}
   {% block content %}
   <h2>Contact Me</h2>
    <p> My name is Josh Hayes-Sheen, and you can <a href="mailto:grevian+graphviz@gmail.com">email me</a> if you'd like,
    otherwise please use the form below to get in touch.
    </p>
    <!-- Anyone forking this project should change this to whatever contact form they feel is appropriate !-->
    <hr />
    <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDlHdHFWWWwwVk1tN0RtS2w4bDZJclE6MA" width="760" height="987" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    {% endblock %}

