{% extends "base.html" %}
{% block content %}
    <h2>Contact Me</h2>
    <p> My name is Josh Hayes-Sheen, and you can <a href="mailto:grevian+graphviz@gmail.com">email me</a> if you'd like,
        otherwise please use the form below to get in touch.
    </p>
    <hr />
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDlHdHFWWWwwVk1tN0RtS2w4bDZJclE6MA" class="embed-responsive-item">Loading...</iframe>
    </div>
{% endblock %}

