   {% extends "base.html" %}
   {% block content %}
   <h2>How to Use this Site</h2>
    <p>I have put together some <a href="/example">Examples</a> and a <a href="/reference">Reference</a> for 
    the sections of the DOT language most relevant to discrete math course material that I have encountered. 
    You may wish to read the wikipedia page on <a href="http://en.wikipedia.org/wiki/DOT_language">the DOT language</a>
	  if you are interested in generating more complicated or customized graphs, and feel free to read the extensive documentation provided
  	at <a href="http://www.graphviz.org/Documentation.php">www.graphviz.org</a>
	</p>
  {% endblock %}
