   {% extends "base.html" %}
   {% block content %}
    <h2>Make A Graph</h2>
        <p>Enter your <code class="inline">DOT</code> definition in the box below, and click Generate to display the resulting graph.</p>
        <form method="POST" action="/graph" id="dot-submission">
         <textarea spellcheck="false" wrap="off" id="dot" name="dot">{{ dot|e }}</textarea>
         <br />
         <label for="method">Layout Method</label>
         <select id="method" name="method">
          <option value="dot" {% if method == 'dot' %}selected{% endif %}>dot</option>
          <option value="neato" {% if method == 'neato' %}selected{% endif %}>neato</option>
          <option value="twopi" {% if method == 'twopi' %}selected{% endif %}>twopi</option>
          <option value="circo" {% if method == 'circo' %}selected{% endif %}>circo</option>
          <option value="fdp" {% if method == 'fdp' %}selected{% endif %}>fdp</option>
          <option value="sfdp" {% if method == 'sfdp' %}selected{% endif %}>sfdp</option>
         </select> (Just use trial and error to find the method you think works best)
         <br />
         <input type="submit" value="Generate" />
        </form>
        {% if graph_id %}
        <h2>Results</h2>
        <div id="results">        
        {% if building %}
          <img id="graph-image" src="" />
        {% else %}
          <img id="graph-image" src="/graph/images/{{ graph_id }}" />
        {% endif %}
        <p class="error" id="error-container">
           <em>Error:</em>
           <span id="error-message">
            {{ error|e }}
           </span>
        </p>
        {% endif %}
   {% endblock %}

{% if building %}
  {% block javascript %}
           <script>
           var graph_id = '{{ graph_id }}';
           if (graph_id != '') { 
            pollImage(graph_id);
           }

           function pollComplete(data, graph_id) {
            console.log(data);
            // If still building, wait 3 seconds then try again
            if (data.building == true) {
              console.log("Still Building, Polling Again");
              var pollPath = '/poll/' + graph_id;
              $.get(pollPath, function(data) { setTimeout(pollComplete(data, graph_id), 3000); }, "json");
            }
            // If completed, Display the imaage
            else if (data.building == false) {
              console.log("Build Complete, Loading Image");
              $('#graph-image').attr('src', '/graph/images/' + graph_id);
              $('#graph-image').show();
            }
            // If Errored, explode.
            else if (data.error != "") {
              console.log("Error Encountered while building image");
              $('#error-container').show();
              $('#error-message').text(data.error);
            }
           }

            function pollImage(graph_id) {
              $('#graph-image').hide();
              $('#error-container').hide();
              
              var pollPath = '/poll/' + graph_id;
              $.get(pollPath, function( data ){
                pollComplete(data, graph_id);
              }, "json");
           }
           </script>
  {% endblock %}
{% endif %}
   
 
