{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>What is this?</h2>
        <p>Some clever people recognized that CS Majors suck at drawing, but still often need to draw graphs. Those
            noble souls
            made a program to draw graphs for us called <a href="http://graphviz.org/">GraphViz</a>, it's free, open
            source, and great,
            but not incredibly easy to use, So I threw this web interface and tutorial on top of it to make it easy
            for us to make graphs for our assignments.</p>
        <h2>What?</h2>
        <p>Convert a simple language that describes graphs, to pretty pictures of graphs.</p>

        <div class="row">
            <div class="col-xsm">
            <pre class="mt-2 p-4 rounded">
                <code>
graph {
    a -- b;
    b -- c;
    a -- c;
    d -- c;
    e -- c;
    e -- a;
  }
                </code>
            </pre>
            </div>
            <div class="col-sm">
                <figure class="figure">
                    <img src="/resources/static/images/example1.png" class="dot-example figure-img img-fluid rounded"
                         alt="A generic square placeholder image with rounded corners in a figure."/>
                </figure>
            </div>
        </div>

        <h2>Cool, Where do I start?</h2>
        <p>Take a look at some <a href="/example">Examples</a> to see how this works, Then open the
            <a href="/reference">reference</a> and the <a href="/graph">Graph</a> page and go to work.
        </p>
    </div>
{% endblock %}

