{% extends "base.html" %}
{% block content %}
  <img src="/resources/static/images/index.png" id="index-image" />
	<h2>What is this?</h2>
		<p>It pains me to see people drawing graphs for my classes by hand, 
		it's messy, time consuming and usually results in ugly graphs (Sorry Folks, 
		but we're Math/CS Majors, not artists), Luckily Some very clever people at AT&amp;T have
		already recognized that CS Majors suck at drawing, but often need to draw graphs, so they
		made a program to draw graphs for us, It's called GraphViz, it's free, open source, and great,
		but not incredibly easy to use, So I threw this web interface on top of it to make it easy
		for us to make graphs for our assignments, and for our amusement.</p>
	<h2>What?</h2>
	<p>TL;DR: This converts from a very simple language that describes graphs, to pretty pictures of graphs.</p>
	<h2>Ok so where do I start?</h2>
	<p>First you need to take a quick look at some <a href="example.html">Examples</a> to see how this works, Then open the
	<a href="reference.html">reference</a> and the <a href="graph.cfm">Graph</a> page and go to work, You can download rendered
	graphs and insert them into the word processor of your choice to submit with your assignment (Or
	print them out and attach them to your handwritten work)</p>

	<h2>Anything Else?</h2>
	<p>Like many CS majors, I could tinker with this stuff all day and all night. <em>Don't do that.</em>
	If it's not intuitive and you can't figure it out within 15-20 minutes, Give up and go do the graphs by hand 
	(Or try <a href="http://dia-installer.de/">DIA</a>, which is a little more work, but easier to use). There are cool
	math programs and languages we can mess with all day but the purpose of this site is to GET STUFF DONE.</p>
{% endblock %}

