  {% extends "base.html" %}
  {% block content %}
   <h2>Related Links</h2>
	<p>Here's some links you may find relevant
	<h3>GraphViz</h3>
	<ul>
	 <li><a href="http://www.graphviz.org/">GraphViz - The program used to render these graphs</a></li>
	 <li><a href="http://www.graphviz.org/Documentation.php">GraphViz Documentation (See the User Guides for examples)</a></li>
	 <li><a href="http://www.graphviz.org/doc/info/attrs.html">GraphViz Graph/Node/Edge Attributes</a></li>
	 <li><a href="http://graphviz.org/doc/info/colors.html">GraphViz Colour Definitions</a></li>	 
	 <li><a href="http://en.wikipedia.org/wiki/DOT_language">Wikipedia's Article on the DOT Language</a></li>
	</ul>
	<h3>Other Graphing Resources</h3>
	<ul>
	 <li><a href="http://dia-installer.de/">Dia - A Simpler point and click program that's useful for graphs</a></li>
	 <li><a href="http://en.wikipedia.org/wiki/Graph_drawing">Wikipedia's Article on Graph Drawing Theory</a></li>	 
	</ul>	
	</p>
  {% endblock %}

